#content-wrapper, nav  li, header, footer {
	border: 1px solid black;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav ul li {
	display: inline-block;	
	width: 170px;	
}

nav ul li:hover {
	background-color: lightgray;
}

#content-wrapper {
	margin: auto;
	width: 1000px;
	height: 150px;
}

input, button {
	margin: 5px;
}