#holderSingle
{
width: 400px;
height: 100px;
position: absolute;
z-index:10;
top: 100px;
left: 100px;
background-color:white;
display : inline-block;
    float:left;
    clear:both;

}
#textContainer {
    display : inline-block;
    position: relative;
    width : 80%;

}
#holderSingle img {
display : inline-block;
position: relative;
width : 80%;
}